body {
    font-family: 'montserrat', sans-serif;
    background-image: url(./pics/sky_night.jpg);
    background-size: cover;
    background-position: bottom;
    transition: .4 ease-out;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.search-box {
    padding-top: 2rem;
}

.search-box .search-bar {
    display: block;
    margin: 0 auto;
    text-align: center;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    font-size: 16px;
    transition: .4s ease;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 1);
}

.weather-section {
    padding-top: 6rem;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.location-box .location {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

hr {
    width: 80%;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 0 none;
    margin-top: 100px;
    margin-bottom: 100px;
}

.location-box .date {
    color: #fff;
    font-style: italic;
    font-size: 20px;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
    color: #fff;
    font-style: italic;
    font-size: 20px;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.info {
    color: #fff;
    font-style: italic;
    font-size: 20px;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}